*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-image: url("img/sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
header{
    width: 100%;
}
header h1{
    padding: 10px 0;
    text-align: center;
    background-color: #0a113a;
    color: white;
    font-size: 30px;
    font-weight: 100;
}
.container{
    height: calc(100vh - 54px);
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
    margin-bottom: 50px;
    
}
input,.input{
    display:block;
    width: 500px;
    height: 40px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 20px;
    background: #17053866;
    color: white;
    text-align: center;
    font-size: 18px;
    resize: none;
    line-height: 40px;
    
}
input:focus,.input:focus{
    background-color: white;
    color: black;
    outline: none;
 
}
input::placeholder,.input::placeholder{
    opacity: .5;
    color: white;
}
button{
    width: 200px;
    background: #0a113a;
    height: 50px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 4px 5px #444;
}

.entry{
    width: 500px;
    margin: auto;
    background: rgba(59, 74, 107, .4);
    color: black;
    text-align: center;
    font-size: 18px;
    border-radius: 10px; 
    padding: 10px 0 15px;

}
.entry h3{
    font-size: 18px;
    font-weight: 100;
    margin-bottom :15px; 
}

#entryHolder{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 20% 20%;
    color: white;
}
#temp,#name{
font-size: 35px;
margin-bottom: 10px;
}
#Weather,#content,#date{
font-size: 20px;
}
.Weather-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
/* for tablets */
@media (max-width:500px) {
    input{
        width: 300px;
    }
    .entry{
        width: 300px;
    }
}